/*-- scss:defaults --*/
// Base Document Colors
// scss-docs-start theme-color-variables

// #DBE7FB; light blue text
// #E6D2C9; champagne hover
// #E1B8C8; pink active
// #BA2320; red
// #be8b4b; brown
// #254640; dark green
// #e2ddd7; white
// #809595; grey
// #f7c672; yellow

$white: #212529;
$gray-100: #212529;
$gray-200: #343a40;
$gray-300: #495057;
$gray-400: #6c757d;
$gray-500: #adb5bd;
$gray-600: #ced4da;
$gray-700: #dee2e6;
$gray-800: #e9ecef;
$gray-900: #f8f9fa;
$black: #fffbf8;

$grays: map-merge( ( "100": $gray-100, "200": $gray-200, "300": $gray-300, "400": $gray-400, "500": $gray-500, "600": $gray-600, "700": $gray-700, "800": $gray-800, "900": $gray-900 ), () );

$blue: #6098d8;
$indigo: #254640;
$purple: #6f42c1;
$green: #289878;
$yellow: #f7c672;
$orange: #ee6b42;
$red: #ba2320;
$pink: #E6d2c9;
$teal: #a1d1bf;
$cyan: #83e0e5;

$colors: map-merge( ( "blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "teal": $teal, "cyan": $cyan, "white": $white, "gray": $gray-600, "gray-dark": $gray-800 ), () );

$primary:       $teal; 
$secondary:     $pink;
$success:       $green;
$info:          $blue;
$warning:       $orange;
$danger:        $red;

$theme-colors: map-merge( ( "primary": $primary, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $danger, "light": $light, "dark": $dark ), () );
$theme-color-interval: 8%;
$yiq-contrasted-threshold: 150;