/*-- scss:defaults --*/
// Base Document Colors
// scss-docs-start theme-color-variables
$primary:       #6098D8; 
$secondary:     #83690C;
$success:       #798BE4;
$info:          #E6D2C9;
$warning:       #B75279;
$danger:        #903C5C;
$light:         #EDF3FD;
$dark:          #212529;

$link-color: $secondary;
$body-bg: $light;